{% extends 'app.html' %}
{% load staticfiles %}

{% block title %} <title>WEB APP</title> {% endblock %}

{% block content %}
        <!--page title-->
        <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%">
            </div>

            <div class="container pt100 pb70">
                <div class="row pb50">
                    <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                        <h3 class="h1 text-center font300  pt100 text-white">Contact</h3>
                    </div>
                </div>
            </div>
        </div><!--parallax-->
        <!--/.page-title-->

        <div class="container pt90 pb50">
            <div class="row">
                <div class="col-md-6 mb40">
                    <div class="media mb20">
                        <i class="icon-round-40 mr-3 bg-light fa fa-home"></i>
                        <p class="media-body pt5">
                            124, Munna Wali Dhani, Lalchandpura, <br> Jhotwara, Jaipur, 302012
                        </p>
                    </div>
                    <div class="media mb20">
                        <i class="icon-round-40 float-left mr-3 bg-light fa fa-clock-o"></i>
                        <p class="media-body pt5">
                            Monday-Friday: 8am to 6pm<br>
                            Saturday: 10am to 2pm<br>
                            Sunday: Closed</p>
                    </div>
                    <div class="media mb20">
                        <i class="icon-round-40 bg-light float-left mr-3 fa fa-envelope"></i>
                        <p class="media-body pt5">
                            <a href="#" class="btn btn-underline">support@assan.com</a></p>
                    </div>
                    <div class="media mb20">
                        <i class="icon-round-40 float-left mr-3 bg-light fa fa-phone"></i>
                        <p class="media-body pt5">
                            <a href="#" class="btn btn-underline">+120 234-449-3949</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="smart-wrap">
                        <div class="smart-forms smart-container">


                            <!--<form method="post" action="contact-form/php/smartprocess.php" id="smart-form">-->
                                <!--<div class="form-body">-->

                                    <!--<div class="section">-->
                                        <!--<label class="field prepend-icon">-->
                                            <!--<input type="text" name="sendername" id="sendername" class="gui-input" placeholder="Enter name">-->
                                            <!--<span class="field-icon"><i class="fa fa-user"></i></span>-->
                                        <!--</label>-->
                                    <!--</div>&lt;!&ndash; end section &ndash;&gt;-->

                                    <!--<div class="section">-->
                                        <!--<label class="field prepend-icon">-->
                                            <!--<input type="email" name="emailaddress" id="emailaddress" class="gui-input" placeholder="Email address">-->
                                            <!--<span class="field-icon"><i class="fa fa-envelope"></i></span>-->
                                        <!--</label>-->
                                    <!--</div>&lt;!&ndash; end section &ndash;&gt;-->

                                    <!--<div class="section">-->
                                        <!--<label class="field prepend-icon">-->
                                            <!--<input type="text" name="sendersubject" id="sendersubject" class="gui-input" placeholder="Enter subjec">-->
                                            <!--<span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>-->
                                        <!--</label>-->
                                    <!--</div>&lt;!&ndash; end section &ndash;&gt;-->

                                    <!--<div class="section">-->
                                        <!--<label class="field prepend-icon">-->
                                            <!--<textarea class="gui-textarea" id="sendermessage" name="sendermessage" placeholder="Enter message"></textarea>-->
                                            <!--<span class="field-icon"><i class="fa fa-comments"></i></span>-->
                                            <!--<span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span>-->
                                        <!--</label>-->
                                    <!--</div>&lt;!&ndash; end section &ndash;&gt;-->

                                    <!--&lt;!&ndash;<div class="section">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="smart-widget sm-left sml-120">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label class="field">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="text" name="captcha" id="captcha" class="gui-input sfcode" maxlength="6" placeholder="Enter CAPTCHA">&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label class="button captcode">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<img src="{% static "contact-form/php/captcha/captcha.php?<?php echo time();?>" %}" id="captchax" alt="captcha">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<span class="refresh-captcha"><i class="fa fa-refresh"></i></span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&lt;!&ndash; end .smart-widget section &ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&lt;!&ndash; end section &ndash;&gt;&ndash;&gt;-->

                                    <!--<div class="result"></div>&lt;!&ndash; end .result  section &ndash;&gt;-->

                                <!--</div>&lt;!&ndash; end .form-body section &ndash;&gt;-->
                                <!--<div class="form-footer">-->
                                    <!--<button type="submit" data-btntext-sending="Sending..." class="button btn btn-primary">Submit</button>-->
                                    <!--<button type="reset" class="button"> Reset </button>-->
                                <!--</div>&lt;!&ndash; end .form-footer section &ndash;&gt;-->
                            <!--</form>-->


                        </div><!-- end .smart-forms section -->
                    </div><!-- end .smart-wrap section -->
                </div>
            </div>
        </div>
{% endblock %}

{% block jquery %}
        <!--contact form-->
        <!--smart-form script-->
        <script src="{% static "contact-form/js/jquery.form.min.js" %}" type="text/javascript"></script>
        <script src="{% static "contact-form/js/jquery.validate.min.js" %}" type="text/javascript"></script>
        <script src="{% static "contact-form/js/additional-methods.min.js" %}" type="text/javascript"></script>
        <script src="{% static "contact-form/js/smart-form.js" %}" type="text/javascript"></script>
{% endblock %}