{% extends 'app.html' %}
{% load staticfiles %}

{% block title %} <title>WEB APP</title> {% endblock %}

{% block content %}
<!--page title-->
<div class="dzsparallaxer auto-init height-is-based-on-content " data-options='{   direction: "reverse"}'>
    <div class="divimage dzsparallaxer--target "
         style="width: 101%; height: 130%">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn text-center" data-wow-delay=".2s">
                <h3 class="h1 text-center font300  pt100 text-white">訂購完成</h3>
            </div>
        </div>
    </div>
</div>

<!--Shopping Ok-->
<div class="container pt90 pb50">
    <div class="row cart-table mb40">
        <div class="col-md-12 ml-auto">
            <p class="title">訂購完成</p>
            <p class="subject">感謝您的訂購！</p>
            <p class="desc">親愛的 <strong>{{customname1}}</strong> (先生 / 小姐)，您已經成功的完成訂購程序，我們將儘快把您選購的商品郵寄給您！ 再次感謝您支持。<br/>
                <a href="/cartordercheck/?orderid={{orderid}}&customemail={{mailto}}">&lt;詳細內容請按此&gt;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}