{% extends 'app.html' %}

<!-- load static file -->
{% load staticfiles %}

{% block title %} <title>WEB APP</title> {% endblock %}

{% block content %}
<!--page title-->
<div class="page-title-light">
    <div class="container">
        <h2>{{product.pname}}</h2>
        <h3>${{product.pprice}}</h3>

    </div>
</div>
<!--/.page-title-->

<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-8 text-center ml-auto mr-auto mb40">
            <img src="/static/images/shop_cart/{{product.pimages}}" alt="" class="center-img img-fluid mb50">
            <h4 class=" h2 mb40">Beautiful style</h4>
            <p class="lead">
                {{product.pdescription}}
            </p>
        </div>
    </div>
</div>

<div class="bg-faded pt90 pb50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 ml-auto mb40">
                <img src="/static/images/shop_cart/{{product.pimages}}" alt="" class="center-img img-fluid">
            </div>
            <div class="col-lg-5 mr-auto ml-auto mb40">
                <h4 class=" h2 mb40">Waterproof amazing quality build for fitness.</h4>
                <p class=" text-muted">
                    {{product.pdescription}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt90 pb50">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 mr-auto ml-auto mb40">
                <h4 class=" h2 mb40">A watch that works full day with amazing battery life</h4>
                <p class=" text-muted">
                    {{product.pdescription}}
                </p>
            </div>

            <div class="col-lg-5 ml-auto mb40">
                <div class="owl-carousel owl-theme owl-image-header">
                    <div class="item">
                        <img src="/static/images/shop_cart/{{product.pimages}}" alt="" class="img-fluid">
                    </div>
                    <div class="item">
                        <img src="/static/images/shop_cart/{{product.pimages}}" alt="" class="img-fluid">
                    </div>
                    <div class="item">
                        <img src="/static/images/shop_cart/{{product.pimages}}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add to cart-->
<div class="bg-faded pt90 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2>{{product.pname}}</h2>
                <h2 class="font600 h1">${{product.pprice}}</h2>
                <p class="lead text-muted">Cash on delivery is available</p>
                <a href="#" class="btn btn-rounded btn-primary btn-xl">Add to cart</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}