{% extends 'app.html' %}
<!-- load static file -->
{% load staticfiles %}

{% block title %} <title>WEB APP</title> {% endblock %}

{% block content %}
<!--page title-->
<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
    <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn text-center" data-wow-delay=".2s">
                <h3 class="h1 text-center font300  pt100 text-white">Welcome to our store</h3>
                <p class="lead text-muted text-white">Free shipping on purchase over $200</p>
            </div>
        </div>
    </div>
</div><!--parallax-->
<!--/.page-title-->

<div class="container pt90 pb50">

    <!--Selection Bar-->
    <div class="row">
        <div class="col-md-6 mb20">
            <em>Showing 12 from 340 items</em>
        </div>
         <div class="col-md-3 ml-auto mb20 text-right">
             <select class="form-control form-control-sm">
                 <option>Newest Items</option>
                 <option>Trending Items</option>
                 <option>Best Rated Items</option>
                 <option>Discounts Items</option>
             </select>
        </div>
    </div>

    <!--products-->
    <div class="row">


        <!--<div class="col-md-4 mb40">-->
            <!--<a class="shop-item-card" href="/detail">-->
                <!--<img src="{% static "images/shop/1.jpg" %}" alt="" class="img-fluid mb20">-->
                <!--<h5 class="font600 h6">-->
                    <!--<span class="float-right badge badge-primary">-30%</span>-->
                    <!--Smart watch fasttrack-->
                <!--</h5>-->
                <!--<p class="lead text-muted">$99.00</p>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-4 mb40">-->
            <!--<a class="shop-item-card" href="/detail">-->
                <!--<img src="{% static "images/shop/2.jpg" %}" alt="" class="img-fluid mb20">-->
                <!--<h5 class="font600 h6">-->
                    <!--Headphones apple-->
                <!--</h5>-->
                <!--<p class="lead text-muted">$199.00</p>-->
            <!--</a>-->
        <!--</div>-->

    {% for product in productall %}
        <div class="col-md-4 mb40">
              <a class="shop-item-card" href="/detail/{{product.id}}">
                  <img src="/static/images/shop_cart/{{product.pimages}}" alt="產品詳細資料" width="135" height="135" border="0" />
                  <h5 class="font600 h6">
                    {{product.pname}}
                  </h5>
                  <p class="lead text-muted">${{product.pprice}}</p>
              </a>
        </div>
    {% endfor %}


    </div>
</div>
{% endblock %}